.SectionOne {
  width: 100%;
  margin-top: 1rem;
  position: relative;
  height: 75vh;
}

.SectionOne .container {
  width: 100%;
}

.SectionOne .container .banner {
  background-image: url("../assyts/img/1.jpg");
  background-size: cover;
  background-position: center;
  height: 280px;
  align-items: center;
  color: white;
  padding: 40px;
}

.SectionOne .container .overlay {
  padding: 30px;
}
.SectionOne .container .overlay .food {
  color: var(--white);
  font-weight: bold;
}
.SectionOne .container .overlay p {
  color: gray;
}

.SectionOne .product {
  width: 100%;
  position: relative;
  top: 25rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.SectionOne .product .container {
  width: 90%;
  border-radius: 2rem;
  position: absolute;
  bottom: 2rem;
  padding: 1rem;
  background-color: rgba(137, 103, 95, 0.5);
}
.SectionOne .product .container .Top_categories {
  color: var(--white);
  padding-left: 10rem;
  font-size: 3rem;
  font-style: bold;
}
.SectionOne .product .container .lists {
  display: flex;
  cursor: pointer;
  justify-content: space-around;
  flex-wrap: nowrap;
  overflow: auto;
  scrollbar-width: none;
}

.SectionOne .product .container .lists .singleProduct {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--white);
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.SectionOne .product .container .lists img {
  width: 200px;
  padding: 10px;
}
.SectionOne .product .container .lists .pasta {
  margin-left: 3rem;
}

.SectionOne .photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo{
  position: relative;
  height: 70vh;
}

.photo .container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50vh;
}

.photo .container .bg {
  background-image: url("../assyts/img/pc.jpg");
  background-size: cover;
  background-position: center;
  height: 250px;
  align-items: center;
  color: white;
  width: 85%;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}
.photo .container .bg .overlay {
padding: 5rem;
}
.photo .container .bg .overlay .explore{
color: var(--white);
background-color: var(--orange);
padding: 5    px;
border-radius:20px ;
width: 200px;
}
@media (min-width: 870px) and (max-width: 996px) {
  .SectionOne .container .banner {
    width: 112%;
  }
  .SectionOne .product .container {
    width: 85%;
    position: absolute;
    right: 3px;
    bottom: 5rem;
  }
  .photo .container .bg {
    width: 100%;
    margin-left: 28rem;
  }
}
@media (min-width: 800px) and (max-width: 870px) {
  .SectionOne .container .banner {
    width: 125%;
  }
  .SectionOne .product .container {
    width: 85%;
    position: absolute;
    left: 180px;
    bottom: 5rem;
  }
  .photo .container .bg {
    width: 100%;
    margin-left: 35rem;
    height: 40VH;

  }
}
@media (min-width: 700px) and (max-width: 807px) {
  .SectionOne .container .banner {
    width: 160%;
  }
  .SectionOne .product .container {
    width: 85%;
    position: absolute;
    left: 300px;
    bottom: 5rem;
  }
  .photo .container .bg {
    width: 105%;
    margin-left: 60rem;
    height: 40VH;
  }
}
@media (min-width: 630px) and (max-width: 700px) {
  .SectionOne .container .banner {
    width: 150%;
  }
  .SectionOne .product .container {
    width: 85%;
    position: absolute;
    left: 200px;
    bottom: 5rem;
  }
  .photo .container .bg {
    width: 102%;
    margin-left: 40rem;
    height: 40VH;

  }
}
@media (min-width: 576px) and (max-width: 630px) {
  .SectionOne .container .banner {
    width: 170%;
  }
  .SectionOne .product .container {
    width: 85%;
    position: absolute;
    left: 280px;
    bottom: 6rem;
  }
  .photo .container  {
    width: 120%;
    margin-left: 30rem;
  }
  .photo .container .bg {
    width: 100%;
    height: 55VH;

  }
 
}
@media (min-width: 470px) and (max-width: 576px) {
  .SectionOne .container .banner {
    width: 250%;
  }
  .SectionOne .product .container {
    width: 85%;
    position: absolute;
    left: 310px;
    bottom: 7rem;
  }
  .photo .container {
    width: 85%;
    margin-left: 51rem;

  }
  .photo .container .bg{
    width: 85%;
    margin-left: 55rem;
    height: 40VH;

  }
}
@media (min-width: 300px) and (max-width: 470px) {
  .SectionOne .container .banner {
    width: 320%;
  }
  .SectionOne .product .container {
    width: 180%;
    position: absolute;
    left: 300px;
    bottom: 0rem;
  }
  .SectionOne .product .container .lists .singleProduct {
    width: 100%;
    margin-bottom: 1rem;
  }
  .photo   {
    height: 90vh;
    
  }
  .photo .container  {
    margin-left: 46rem;
        margin-top: 40px;

  }
  .photo .container .bg  {
width: 500px;
height: 80VH;

}
}
@media (min-width: 440px) and (max-width: 576px) {
  .SectionOne .container .banner {
    height: 340px;
    margin-bottom: 5rem;
  }
  .SectionOne .container {
    margin-top: 10rem;
  }

  .SectionOne .product .container {
    width: 90%;
    padding: 0.5rem;
    position: absolute;
    left: 510px;
    bottom: 13rem;

  }

  .SectionOne .product .container .Top_categories {
    padding-left: 1rem;
    font-size: 2rem;
  }
  .SectionOne .product .container .lists img {
    width: 80px;
  }
  .photo .container .bg  {
    width: 450px;
    height: 60VH;
    margin-left: 50px;
    }
}

@media (min-width: 577px) and (max-width: 992px) {
  .SectionOne .container .banner {
    height: 290px;
    padding: 34px;
  }
  .SectionOne .product .container .Top_categories {
    padding-left: 2rem;
    font-size: 2.5rem;
  }

  .SectionOne .product .container .lists .singleProduct {
    width: 45%;
    margin-bottom: 1rem;
  }

  .SectionOne .product .container .lists img {
    width: 90px;
  }

  .photo .container {
    width: 85%;
  }
}

@media (min-width: 993px) {
  .SectionOne .container .banner {
    height: 280px;
    padding: 40px;
  }

  .SectionOne .product .container {
    width: 85%;
    bottom: 0rem;
  }

  .SectionOne .product .container .Top_categories {
    font-size: 3rem;
  }

  .SectionOne .product .container .lists .singleProduct {
    width: 25%;
  }

  .photo .container .bg {
    width: 85%;
  }
  .photo .offer {
    margin-right:  100px ;
  }
}
