.category {
  display: flex;
  width: 100%;
  justify-content: center;
}

.category .containers {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.category .containers .NewCategory {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.category .containers .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  justify-content: center;
}
.category .containers .row .collection {
  display: flex;
  flex-direction: column;
  width: 24%;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
}

@media  (min-width: 992px) {



  .category .containers {
    max-width: 100%; 
  }
  
  .category .containers .row .collection {
    width: 24%;
  }
}




@media (min-width:576px) and (max-width: 992px) {
    .category .containers {
      max-width: 80%; 
    }
    
    .category .containers .row .collection {
      width: 48%;
    }
    .category .containers .row .collection img {
    
      width: 270px;
    }
    
    
    }
  
  
  @media (min-width:300px) and (max-width: 576px) {
    .category .containers {
      width:  100%; 

    }
  
    .category .containers .row{
      width: 100%;
    }
    .category .containers .row .collection {
      width: 40%;
    }
  }