.sectionone {
    max-width: 100%;
    height: 700px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.sectionone img {
    width: 100%;
    height: 100%;
    position: relative;

}

.sectionone .container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.sectionone .container .data{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: start;
}
.sectionone .container .data h1 {
    color: var(--white);
    font-weight: bold;
}

.sectionone .container .data p {
    color: var(--lightGray);
    font-weight: bold;
}

.sectionone .container .image {
    width: 300px;
    height: 300px;
    background-color: var(--orange);
    border-radius: var(--br-assycircle);
}

.sectionone .container .image img {
    
    height: 350px;
   
}

.sectionone .container .data .link{
    width: 160px;
    height: 40px;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 10px;
    text-align: center;
}
@media(max-width:426px){
    .sectionone{
        max-width:425px ;
    }
    .sectionone .container .data h1{
        font-size: 30px;
    }
    
}
@media(max-width:769px){
    .sectionone{
        max-width: 768px;
        display: flex;
    }
    .sectionone .container .image{
        display: none;
    }
    .sectionone .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sectionone .container .data{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

