 
 .product-grid {
  width: 100%;
  /* margin: 0 auto; */
  text-align: start;
  padding-bottom: 60px;
  align-items: start;
  height: 70vh;
}
.product-title{

  display: flex;
  justify-content:space-between ;
}
.product-grid .product-title h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
  padding-left: 110px;
}

 .product-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: center;
  margin: auto;
  
}

 .product-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 300px;
   padding: 5px;
   transition: transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .218);

}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 18px;
 }

.product-card p {
  font-size: 14px;
 }

.product-price {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

 .product-grid .product-title .see-all-link {
  display: block;
   
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 20px;
  padding-right: 170px;

}

.see-all-link:hover {
  text-decoration: underline;
}

 @media (max-width: 768px) {
 
  .product-container {
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .product-card {
    width: 100%;
    max-width: 400px;
  }
  .product-grid{
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 425px){

  .product-container {
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  .product-grid .product-title h2{
    font-size: 15px;
  }
  .product-grid{
    width: 100%;
    margin: auto;
    align-items: center;
  }
  .product-title{
    display: flex;
    justify-content: space-between;
    gap: 100px;
  }
  .see-all-link {
    font-size: 13px;
  }

}