.category {
  display: flex;
  justify-content: center;
  width: 100%;
}
.category .container {
    margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}


.category .container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}
.category .container .row .collection {
  display: flex;
  flex-direction: column;
  width: 18%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0,0.2);
  padding: 10px;
}
