
/* Container holding the two sectiontions */
 .section .container {
    width: 100%;
    display: flex;
}

/* Left banner (Form sectiontion) */
.banner_left {
    width: 40%;  /* Takes 40% of the width */
    height: 107%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Title styling */
.title-banner_left {
    text-align: center;
    /* margin: 2rem; */
}


.title-banner_left h4 {
    opacity: 0.5;
}
.box{
    box-sizing: border-box;
    width: 23rem;
    height: 4rem;
    /* margin-bottom: 10rem; */
    /* border: solid 1px #f28b20; */
}

/* Buttons styling */
.button-banner_left {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 2rem 0;
}

.Google {
    box-sizing: border-box;
    border: solid 0.5px #d3cccc ;
    box-shadow: inset 0 5px 0 rgba(255, 255, 255, 0);
    width: 10rem;
    border-radius: 5px;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #cacaca;

}

.Google:hover {
    background-color: #000000;
    color: #fff;
    transition: 0.3s;
    transition: 2s;
}

.google-icon {
    color: rgb(218, 28, 28);
    width: 1.5rem;
    height: 1.5rem;
}

.Facebook-icon {
    color: rgb(13, 40, 192);
    width: 1.5rem;
    height: 1.5rem;
}

.Google h3 {
    margin-right: 1rem;
}

/* Login form styles */
.login-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.line {
    width: 40%;
    border-top: 1px solid #ddd;
    margin: 0 10px;
}

span {
    font-size: 14px;
    color: #999;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px #cacaca;
    /* background-color: #F1F1F1; */
}

.input-container i {
    margin-right: 10px;
    font-size: 18px;
    color: #999;
}

input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    text-decoration: none;
    color: #f28b20;
    font-size: 14px;
}

.login-button {
    background-color: #f28b20;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #5e3a16;
    transition: 2s;
}
/* -------------------------------------------- */
/* Right banner (Image sectiontion) */
.banner_right {
    width: 60%;  
    position: relative;
    height: 90vh;
}


.real {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}


.image-back {
    position: relative;
}

.welcome-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2; 
}

.welcome-content h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.welcome-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.signup-button {
    background-color: #ff8400;
    color: white;
    padding: 15px 100px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    z-index: 3; 
}

.signup-button a {
    color: white;
    text-decoration: none;
}

.signup-button:hover {
    background-color: #5e3a16;
    transition: 2s;
}


.image-back::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1; 
}
.signup-link{
    font-size: 1.3rem;
    font-weight: bold;
}
.login-button{  font-size: 1.1rem;
    font-weight: bold;}
/* ---------------------------------------------- */
/* media query */



/* @media(min-width:300px) and (max-width:425px)
{
    .container .banner_right{
        width: 60%;
        height: 50vh;
    }
    .banner_left{
        
    }
    

    
} */


@media(min-width:375px) and (max-width:424px){

     .sectiontion .container{
        height: 100vh;
        width: 240%;
        /* background-color: #f1f1f1; */
    }
    .Footer .back-img .content-back .flex-rows .Support .Support-list{
    
        width: 180%;
        font-size: 0.7rem;
    }
    .Footer{
        margin-top: 5rem;
    }
    .container .banner_right .image-back::before{
        height: 36.5rem;
    }
    .container .banner_right .image-back .real{
        height: 36.5rem;
    }
    /* .container .banner_left {
        height: 100%;
    } */
    .container .banner_left{
        width: 60%;
        height: 110vh;
        font-size: 20px;
    }
    .container .banner_right .image-back{
        /* width: 40%; */
        height: 80vh;
        /* font-size: 10px; */
    }


}
@media(min-width:425px) and (max-width:767px){

    .sectiontion .container{
        
        height: 100vh;
        width: 240%;
        /* background-color: #f1f1f1; */
    }
   .container .banner_left{
 width: 120rem;  
}
.container .banner_right{
    width: 120rem;  
}

.container .banner_right .image-back::before{
    height: 120rem;
}


.container .banner_right .image-back {
    
    width: 100%;
}
.Footer{width: 90%;}
/* .container .banner_left .box .button-banner_left{ */

    /* width: 100%; */
    /* height: 100%; */
    /* display: block; */
    /* align-items: center; */
    /* margin-left: 7rem; */
    /* margin-bottom: 10rem; */
/* } */
.Footer{
    margin-top: 5rem;
}
.container .banner_right .image-back::before{
    height: 32rem;
}
.container .banner_right .image-back .real{
    height: 32rem;
}
.container .banner_left {
    height: 100%;
}
.container .Footer .back-img{
    height: 100%;
}
.container .banner_right .image-back::before{
    height: 33.5rem;
}
.container .banner_right .image-back .real{
    height: 33.5rem;
}
.container .banner_left {
    height: 100%;
}


}

@media (min-width: 320px) and  (max-width:374px){
/* *{
    font-size: 20px;
} */
.sectiontion .container{
        
        height: 100vh;
        width: 250%;
        /* background-color: #f1f1f1; */
    }
   .container .banner_left{
 width: 58%;
 height: 100%;  
}
.container .banner_right .image-back {
    
    width: 96%;
}
.container .banner_right .image-back::before{
    height: 32rem;
}
.container .banner_right .image-back .real{
    height: 32rem;
}
.container .banner_left {
    height: 100%;
}
.container .Footer .back-img{
    height: 100%;
}
.container .banner_right .image-back::before{
    height: 33.5rem;
}
.container .banner_right .image-back .real{
    height: 33.5rem;
}
.container .banner_left {
    height: 100%;
}
.Footer{
    margin-top: 5rem;
}


}
@media(min-width:2560px) and (max-width:4000px){

.container .banner_left .box .button-banner_left .Google h3{
font-size: 15px;
}
.container .banner_left .Google h3 {
font-size: 60px;
}
.container .banner_left .login-container .login-form .input-container input{
font-size: 1rem;
/* font-size: 1000rem; */
}
.container .banner_right .image-back .welcome-content h1 p {
    
    font-size: 10rem;

}
.container .banner_right .image-back .welcome-content p {
    
    font-size: 2rem;
}
.container .banner_right .image-back .welcome-content h1 {
    
    font-size: 2.5rem;
}

}
@media(min-width:1440px) and (max-width:2559px){

/* *{
    font-size: 20px;
} */
.sectiontion .container {max-width: 100%;}
 .container .banner_right .image-back .real{
    max-width: 100%;
}
 .container .banner_right{
    max-width: 55%;
}
.container .banner_left{
font-size: 2rem;
/* font-size: 1000rem; */
}
.container .banner_left .login-container .login-form .input-container .login-button{
font-size: 5rem;
/* font-size: 1000rem; */
}

.container .banner_right .image-back .welcome-content p {
    
    font-size: 2rem;
}
.container .banner_right .image-back .welcome-content h1 {
    
    font-size: 2.5rem;
}

}

@media(min-width:768px) and (max-width:1023px){


    .container .banner_left{
        width: 60%;
        height: 90vh;
        font-size: 10px;
    }
    .container .banner_right .image-back{
        /* width: 40%; */
        height: 80vh;
        /* font-size: 10px; */
    }
   
    
    .Footer .back-img .content-back .flex-rows .Support .Support-list{
    
        width: 250%;
        font-size: 0.7rem;
    }
    .Footer{
        margin-top: 5rem;
    }
    .container .banner_right .image-back::before{
        height: 32rem;
    }
    .container .banner_right .image-back .real{
        height: 32rem;
    }
    .container .banner_left {
        height: 100%;
    }
    

}


@media(min-width:1024px) and (max-width:1439px) {
.Footer .back-img{
    height: 80vh;
}

.Footer .back-img .content-back .flex-rows .Support .Support-list{

    width: 125%;
}
.Footer{
    margin-top: 5rem;
}
.container .banner_right .image-back::before{
    height: 90vh;
}
.container .banner_right .image-back .real{
    height: 90vh;
}

}